
<div id="RightNews">
    <div class="nVar_1">
        <span>Chuyên mục chính</span>
    </div>
    <div class="line_Bo"></div>
    <div class="ListMenu">
        <a href="/2/Tin-tuc" title="">› Tin tức</a>
        <a href="/2/Tuyen-dung" title="Tuyển dụng">› Tuyển dụng</a>
        <a href="/Khuyen-mai" title="Khuyến mại thiết bị vệ sinh INax">› Bản tin khuyến mại</a>
        <a href="/2/Chinh-sach-dich-vu" title="Chính sách dịch vụ">› Chính sách và dịch vụ</a>

    </div>

</div>