<div class="Clear"></div>
<div class="hr"></div>
<div id="ProductSale">
    <div class="n_var">
        <div class="Left_n_Var"></div>
        <div class="Center_n_Var"><h3>Sản phẩm Inax đang được khuyến mại</h3></div>
        <div class="Right_n_Var"></div>

    </div>
    <div id="Content_ProductSale">
        @Html.Raw(ViewBag.chuoi)
    </div>
</div>
