<div id="Product">
    <div class="n_var">
        <div class="Left_n_Var"></div>
        <div class="Center_n_Var"><h3>Sản phẩm Inax đang bán chạy</h3></div>
        <div class="Right_n_Var"></div>

    </div>
    @Html.Raw(ViewBag.chuoi)
</div>
